/*************************************************************************************************/
/*General*/


:root
{
    --color-1: white;
    --color-2: black;
    --color-3: gray;
    --color-4: #45568DFF;

    --font-size-biggest: 1.75rem;
    --font-size-big: 1.5rem;
    --font-size-medium: 1.2rem;
    --font-size-small: 1rem;
    --font-size-header: 1.15rem;

    --line-height-paragraph: 1.5rem;

    --side-margin-main: 16rem;
    --side-margin-header: 20rem;

    --background-color-primary-alphazero: #22232300;
    --accent-color-secondary: #222323FF;
    --side-margin: 10rem;

    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    font-size: 1rem;
}

/* @supports (font-variation-settings: normal) 
{
    :root { font-family: InterVariable, sans-serif; }
} */

*
{
    color: var(--color-2);
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body
{
    background-color: var(--color-1);
    font-weight: 200;
}

@keyframes test
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

footer p
{
    text-align: center;
    letter-spacing: 1px;
    margin-top: 8rem;
    margin-bottom: 6rem;
}

button
{
    cursor: pointer;
    border: none;
}


/*************************************************************************************************/
/* Page Transition */

.transition-1
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: var(--color-1);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
}

.transition-1.is-active
{
    opacity: 1;
    pointer-events: all;
}


/*************************************************************************************************/
/* Header */


.header
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: var(--side-margin-header);
    margin-right: var(--side-margin-header);
    column-gap: 3rem;
    margin-top: 2rem;
    margin-bottom: 8rem;
    z-index: 2;

    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size-header);
    font-weight: 100;
    text-transform: uppercase;

    user-select: none;
}

.name-container
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px;
    border-color: rgba(100, 100, 100, 0.534);
    width: 55rem;
}

.name
{
    display: flex;
    justify-content: start;
    margin-right: 2rem;
    color: var(--color-4);
    font-weight: bold;
}

.career-role
{
    display: flex;
    justify-content: start;
}

.portrait
{
    width: 12rem;
    z-index: 10;
    position: relative;
}

.nav-bar
{
    display: flex;
    justify-content: space-between;
}


.nav-links-container
{
    display: flex;
    column-gap: 2rem;
}

.nav-link-current
{
    color: rgb(78, 78, 78);
    font-weight: bold;
    text-decoration: underline 1px var(--color-2);
    text-underline-offset: 0.5rem;
}


.nav-link, .portfolio-link-container
{
    text-wrap: nowrap;
    transition: all 300ms;
}

.nav-link:hover, .portfolio-link-container:hover
{
    color: rgb(148, 148, 148);
}

.portfolio-link-container
{
    position: relative;
    cursor: pointer;
}

.portfolio-link-dropdown
{
    position: absolute;
    display: none;
    top: 2rem;
}

.portfolio-dropdown-open
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.portfolio-link
{
    font-weight: 100;
}

.social-media-buttons-container
{
    display: flex;
    column-gap: 0.5rem;
}

.social-media-buttons-container button
{
    border: none;
    background: transparent;
}

.social-media-buttons-container img
{
    width: 1.5rem;
}

/*************************************************************************************************/
/* Games (Home) */


.games
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8rem;
    column-gap: 2rem;
    margin-left: var(--side-margin-main);
    margin-right: var(--side-margin-main);
}

.game
{
    display: flex;
    flex-direction: column;
    column-gap: 4rem;
}

.game-header
{
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
}

.game-title
{
    font-size: var(--font-size-big);
    font-weight: bold;
    color: var(--color-4);
}

.game-date
{
    font-size: var(--font-size-medium);
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 1px solid;
    border-color: rgba(100, 100, 100, 0.534);
}

.game-thumbnail-container
{
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.game-thumbnail
{
    width: 28rem;
    height: 21rem;
}

.game-info
{
    display: flex;
    flex-direction: column;
    width: 28rem;
    row-gap: 2rem;
}

.game-summary
{
    line-height: var(--line-height-paragraph);
}

.game-summary a
{
    color: var(--color-4);
    font-weight: 300;
    text-decoration: underline;
}

.game-skills-used-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--color-3);
    font-weight: bold;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.game-buttons-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3rem;
}

.game-play-button, .game-more-button
{
    font-size: var(--font-size-small);
    width: 6rem;
    height: 2rem;
    font-weight: 500;
    margin-top: 40px;
    box-shadow: none;
    border-radius: 2rem;
    border: var(--color-2) solid 1px;
}

.game-play-button
{
    background-color: var(--color-4);
    color: var(--color-1);
}

.game-more-button
{
    background-color: var(--color-1);
}


/*************************************************************************************************/
/* Game Page */

.game-page
{
    margin-left: 14rem;
    margin-right: 14rem;
    line-height: 1.5rem;
}

.game-page em
{
    font-style: italic;
    font-weight: 400;
}

.game-page b
{
    font-weight: 500;
}

.game-page-title
{
    display: flex;
    justify-content: start;
    font-size: var(--font-size-biggest);
    font-weight: 500;
    margin-bottom: 4rem;
}

.game-page-video
{
    aspect-ratio: 16 / 9;
    width: 560px;
    float: right;
}

.game-page-overview
{
    display: flex;
    flex-direction: column;
    row-gap: 1.4rem;
    margin-bottom: 4rem;
    padding-right: 4rem;
}

.game-page-stats
{
    margin-top: 1rem;
}

.game-page-responsibilities
{
    display: flex;
    flex-direction: column;
    row-gap: 1.4rem;
    padding-left: 4rem;
    margin-bottom: 6rem;
}

.game-page-responsibilities-list
{
    padding-left: 1.2rem;
    list-style-type: square;
}


.game-page-screenshots
{
    display: flex;
    justify-content: space-between;
}

.game-page-content-container
{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.game-page-content-title
{
    font-size: var(--font-size-big);
    color: var(--color-4);
    font-weight: 400;
}

.game-page-content-title-small
{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.game-page-paragraph a
{
    color: var(--color-4);
    font-weight: 300;
    text-decoration: underline;
}

.game-page-pic-second
{
    float: left;
    width: 30rem;
}


/* Horror Game */

#horror-game-gif
{
    float: left;
    width: 34rem;
}

#horror-game-screenshots
{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    row-gap: 2rem;
}

.horror-game-pic
{
    width: 100%;
}

#horror-game-responsibilities
{
    margin-top: -8rem;
}

/* Intergalactic Burger War */

#IBW-logo
{
    width: 24rem;
    float: right;
}

#IBW-cards
{
    width: 30rem;
    float: left;
}

#IBW-rules-1, #IBW-rules-2
{
    width: 32rem;
}

/* Sally Says Die! */

#sally-says-die-screenshots
{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    row-gap: 2rem;
}

.sally-says-die-pic
{
    width: 100%;
}

#sally-says-die-responsibilities
{
    margin-top: -8rem;
}