/* General */

*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: white;
    color: black;
    padding: 120px 240px 180px 240px;
    font-family: "Anek Malayalam", sans-serif;
    font-size: 20px;
}

a
{
    text-decoration: none;
    color: black;
}

header
{
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-right: 100px;
    margin-bottom: 140px;
}

.header-1, .header-2
{
    display: block;
    position: relative;
}

footer p
{
    text-align: center;
    letter-spacing: 1px;
    margin-top: 180px;
}

/* Name Header */

.name-header
{
    margin-top: 80px;
}

.name
{
    font-size: 80px;
    color: lightseagreen;
}

/* Portrait */

.portrait
{
    width: 300px;
    border-radius: 150px;
}


/* Social Media Header */

.social-media-header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

}

.social-media-icon
{
    width: 50px;
}

/* Nav Header */

.nav-section
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 100px;
}

.nav-link
{
    margin: 0;
    font-size: 40px;

}

/* Games Section */

.games-section
{
    display: block;
    /* grid-template-columns: 1fr; */
    /* row-gap: 100px; */
    /* margin-bottom: 100px;
    padding-top: 200px; */
    justify-items: center;
    padding-top: 40px;
}

.game
{
    display: block;
    margin-bottom: 180px;
}

.game-title-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: black 3px solid;
    margin-bottom: 24px;
}

.game-info-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 100px;
}

.game-thumbnail-container
{
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
}

.game-thumbnail
{
    width: 384px;
    height: 288px;
}

.game-title
{
    font-size: 40px;
}

.game-date
{
    font-size: 30px;
}

.game-summary
{
    line-height: 30px;
    margin-top: 40px;
}

.game-play-button, .game-more-button
{
    background-color:  lightseagreen;
    color: #222323;
    font-size: 22px;
    width: 100px;
    height: 60px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
}