/* General */

*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #F9F9F9;
    color: #232C33;
    font-family: "Anek Malayalam", sans-serif;
    font-size: 1rem;
    margin: 0;
}

a
{
    text-decoration: none;
    color: #232C33;
}

footer p
{
    text-align: center;
    letter-spacing: 1px;
    margin-top: 180px;
}

button
{
    cursor: pointer;
}

/* Header */

.header
{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #232C33;
}

.home
{
    /* margin-left: 500px; */
    display: flex;
    align-items: center;
}


.web-nav-header
{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
}

.nav-link
{
    font-size: 24px;
    text-decoration: underline 1px #232C33;
    text-underline-offset: 0.5rem;
    transition: text-decoration-color 300ms;
    color: #F9F9F9;
}

.nav-link:hover
{
    text-decoration-color: #F9F9F9;
}

.social-media-nav-header
{
    display: flex;
    align-items: center;
    column-gap: 10px;
    /* margin-right: 400px; */
}

.social-media-button
{
    border: none;
}

.email-icon
{
    width: 60px;
}

.linkedin-icon, .github-icon, .itchio-icon
{
    width: 50px;
}

/* Title */

.title
{
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    margin-right: 100px;
    margin-bottom: 140px;
    justify-content: center;
    column-gap: 400px;
}

.header-1, .header-2
{
    display: block;
    position: relative;
}


/* Name Header */

.name-header
{
    margin-top: 80px;
}

.name
{
    font-size: 100px;
    color: #F71735;
}

.roles
{
    font-size: 40px;
}

/* Portrait */

.portrait
{
    width: 400px;
    border-radius: 200px;
}

/* Main */

.main
{
    display: block;
    justify-items: center;
    padding-top: 40px;
    margin-left: 12rem;
    margin-right: 12rem;
}

.game
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 4rem;
}

.game-thumbnail-container
{
    display: flex;
    align-items: flex-start;
}

.game-thumbnail
{
    /* width: 384px;
    height: 288px; */
}

.game-info
{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.game-title-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: black 2px solid;
}

.game-title
{
    font-size: 2rem;
    font-weight: 500;
}

.game-date
{
    font-size: 1.5rem;
}

.game-summary
{
    line-height: 2rem;
    /* margin-top: 40px; */
}

.tools-used
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.game-buttons-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3rem;
}

.game-play-button, .game-more-button
{
    font-size: 1rem;
    width: 6rem;
    height: 2rem;
    font-weight: 500;
    margin-top: 40px;
    border-radius: 2rem;
}

.game-play-button
{
    background-color:  #F71735;
    color: #F9F9F9;
    border-color: #F71735;
}

.game-more-button
{
    background-color: #232C33;
    color: #F9F9F9;
    border-color: #232C33;
}