/*************************************************************************************************/
/* Desktop */

.header
{
    position: fixed;
    top: 0;
    left: var(--margin-side);
    right: var(--margin-side);

    z-index: 2;
}


.header__sub-wrapper
{
    display: flex;
    justify-content: space-between;

    padding-top: 1.5rem;
    padding-bottom: 1rem;

    background-color: var(--color__dark);
    border-bottom: 1px solid var(--color__border);

    z-index: 1;
}


.header__left
{
    display: flex;
    column-gap: 15px;

    white-space: nowrap;
}



.header__right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
}


.header__hero-portrait-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title
{
    display: flex;
    align-items: center;
    
    font-size: 1.7rem;
    font-weight: 800;
    text-transform: uppercase;

    transition: all var(--time-transition) ease;
}

.header__left:hover .header__title
{
    color: var(--color__light--accent);
}




.header__nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;

    font-size: 1.1rem;
    font-weight: 300;
    text-transform: uppercase;
}


.header__contact-btn
{
    padding-left: 8px;
    padding-right: 8px;

    color: var(--color__dark--accent);
    background-color: var(--color__light);
    text-transform: uppercase;
    border-radius: 5px;

    transition: all var(--time-transition) ease;
}

.header__contact-btn:hover
{
    background-color: var(--color__light--accent);
}

.hamburger-nav
{
    display: flex;
    align-items: center;
}

.hamburger-nav input
{
    appearance: none;
}

.hamburger-icon
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span
{
    width: 100%;
    height: 2px;

    background-color: var(--color__light);

    transition: all 0.3 ease-in-out;
}

.nav-sidebar
{
    position: fixed;
    top: 0;
    bottom: calc(100vh - 1.5 * var(--margin-top));
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding-top: var(--margin-top);
    padding-bottom: 1rem;
    padding-left: var(--margin-side);
    padding-right: var(--margin-side);

    font-size: var(--font-size-medium);
    font-weight: 300;
    text-transform: uppercase;

    background-color: var(--color__dark);

    z-index: -1;
    translate: 0 -100%;

    transition: translate var(--time-transition) ease-in-out;
}

.hamburger-nav:has(input:checked) + .nav-sidebar
{
    translate: 0 0;
}

.hamburger-nav:has(input:checked) + .header
{
    translate: 0 -6rem;
}

/* .header__games, .header__resume, .header__about
{
    padding-bottom: 0.5rem;
    border-bottom: 2px solid;
}

.header__games
{
    color: #D64550;
    border-bottom-color: #D64550;
}

.header__resume
{
    color: #50B4F2;
    border-bottom-color: #50B4F2;
}

.header__about
{
    color: #09BC8A;
    border-bottom-color: #09BC8A;
} */

.header__nav-link
{
    position: relative;
    transition: all var(--time-transition) ease;
}

.header__nav-link:hover
{
    color: var(--color__light--accent);
}

.header__nav-link:after
{
    content: '';

    position: absolute;
    width: 100%;
    left: 0;
    bottom: -8px;
    padding-bottom: 0.1rem;

    background: var(--color__light--accent);
    opacity: 0;

    transition: all var(--time-transition) ease;
    pointer-events: none;
}

.header__nav-link:hover::after
{
    opacity: 1;
}



.header__project-link
{
    position: relative;
    transition: all 0.4s;
}

.header__project-link:hover
{
    color: var(--color__light--accent);
}

.header__project-link:after
{
    content: '';

    position: absolute;
    height: 100%;
    width: 2px;
    left: -10px;
    padding-bottom: 0.1rem;

    background: var(--color__light--accent);
    opacity: 0;

    transition: all 0.4s;
    pointer-events: none;
}

.header__project-link:hover::after
{
    opacity: 1;
}







.header__nav-projects-wrapper
{
    display: inline-block;

    /* position: relative; */
    cursor: pointer;
}


.dropdown
{
    display: none;

    position: absolute;
    list-style: none;
    white-space: nowrap;

    margin-bottom: 10px;
    margin-left: 22px;
    
    z-index: 1;
}

.dropdown li
{
    margin-top: 20px;
}

.dropdown__box
{
    display: none;

    position: absolute;
    width: 308px;
    height: 172px;
    background-color: #181818;
    border: 1px solid rgba(200, 200, 200, 0.3);

    margin-top: 11px;
}

.header__nav-projects-wrapper:hover .dropdown
{
    display: block;
}

.header__nav-projects-wrapper:hover .dropdown__box
{
    display: block;
}


/* .header__nav-link, .header__games
{
    text-wrap: nowrap;
    transition: all 300ms;
}

.header__nav-link:hover, .header__games:hover
{
    color: rgb(148, 148, 148);
}

.header__nav-link--current
{
    color: rgb(78, 78, 78);
    font-weight: bold;
    text-decoration: underline 1px var(--color__light);
    text-underline-offset: 0.5rem;
} */

.header__games
{
    position: relative;
    cursor: pointer;
}

.header__games-dropdown
{
    position: absolute;
    display: none;
    top: 2rem;
}

.header__games-dropdown--open
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.header__socials
{
    display: flex;
    justify-content: end;
    column-gap: 0.7rem;
}

.header__socials img
{
    width: 1.7rem;
}


/*************************************************************************************************/
/* Mobile */

.header-mobile
{
    display: none;
    
    position: fixed;
    justify-content: space-between;
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(var(--font-size-header) * 1.1);
    font-weight: 100;
    text-transform: uppercase;
    user-select: none;
}

.header__role--overline
{
    border-top: solid 1px;
    border-color: var(--color__border);
}

/* .nav-sidebar
{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;

    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 20%;
    padding-bottom: 1rem;
    row-gap: 20%;
    background-color: white;
    z-index: -1;

    translate: 100%;
    transition: translate 400ms ease-in-out;
} */

/* .hamburger-nav:has(input:checked) + .nav-sidebar
{
    translate: 0;
} */

.nav-sidebar__links
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    row-gap: 1rem;
    margin-bottom: 1rem;

    font-family: 'Courier New', Courier, monospace;
    font-size: calc(var(--font-size-header) * 1.1);
    font-weight: 100;
    text-transform: uppercase;
    user-select: none;
}

.nav-sidebar__games
{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-bottom: 2rem;
    row-gap: 1rem;
    border-bottom: solid 1px;
    border-color: var(--color__border);
}

.nav-sidebar__socials
{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
}

.nav-sidebar__socials img
{
    width: 2.5rem;
}