/*************************************************************************************************/

@media (width > 1500px)
{
    /* Header */

    .header
    {
        font-size: 1.2rem;
    }

    .header__socials img
    {
        width: 1.6rem;
    }
}

/*************************************************************************************************/

@media (width > 950px)
{
    /* General */
    
    body
    {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    /* Header */

    .header
    {
        max-width: 48rem;
    }

    /* Index */

    .games-mobile
    {
        display: none;
    }

    /* Game Page */

    .game-page-mobile
    {
        display: none;
    }
}

/*************************************************************************************************/

@media (width <= 950px)
{
    /* General */
    
    body
    {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    /* Header */

    .header__role-short
    {
        display: none;
    }

    /* Index */

    .games
    {
        display: none;
    }

    .games-mobile
    {
        display: block;
    }

    .game
    {
        flex-direction: column;
    }

    .game__thumbnail
    {
        width: 100%;
        height: 100%;
    }

    /* Game Page */

    /* .game-page-mobile
    {
        margin-left: 4rem;
        margin-right: 4rem;
    } */
}

/*************************************************************************************************/

@media (width <= 900px)
{
    /* Game Page */

    .game-page
    {
        display: none;
    }

    .game-page-mobile
    {
        display: flex;
    }

    .game-page__title
    {
        display: flex;
        justify-content: center;
        margin-top: 3.5rem;
        margin-bottom: -0.5rem;
    }

    .game-page__section
    {
        display: block;
    }

    .game-page__overview
    {
        padding: 0;
        margin: 0;
    }

    .game-page__respon
    {
        padding: 0;
        margin: 0;
    }

    .game-page__screenshots
    {
        display: block;
    }


    .game-page__pic-1, .game-page__pic-2
    {
        width: 100%;
        height: 100%;
    }

    /* idk, is this ok? */
    #IBW-logo--lower
    {
        width: 80%;
        margin-top: 3rem;
    }

    /* #IBW-cards, #IBW-rules-1, #IBW-rules-2
    {
        width: 100%;
        height: 100%;
    } */

    /* About Page */

    .about-page
    {
        display: none;
    }

    .about-page-mobile
    {
        display: flex;
    }
}

/*************************************************************************************************/

@media (700px < width <= 950px)
{
    /* Header */
    
    .header__socials img
    {
        width: 2rem;
    }
}

/*************************************************************************************************/

@media (700px < width <= 900px)
{
    /* Game Page */

    .game-page-mobile
    {
        margin-top: -6rem;
    }

    /* About Page */

    .about-page-mobile
    {
        margin-top: -6rem;
    }
}

/*************************************************************************************************/

@media (width > 700px)
{
    /* Header */
    
    .header-mobile
    {
        display: none;
    }
}

/*************************************************************************************************/

@media (width <= 700px)
{
    /* General */

    body
    {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    /* Header */
    
    .header
    {
        display: none;
    }

    .header-mobile
    {
        display: flex;
    }

    /* About Page */

    .about-page-mobile
    {
        max-width: 28rem;
    }
}

/*************************************************************************************************/

@media (width <= 400px)
{
    /* Index */
    
    .game__skills
    {
        font-size: calc(var(--font-size-small) * 0.9);
    }

    /* About Page */

    .about-page__portrait-wrapper img
    {
        width: 100%;
    }
}

/*************************************************************************************************/

@media (width <= 300px)
{
    /* Header */
    
    .header-mobile, .nav-sidebar__links
    {
        font-size: calc(var(--font-size-small) * 1.1);
    }

    .nav-sidebar__socials img
    {
        width: 2.2rem;
    }
}