/*************************************************************************************************/

@media (width > 1500px)
{
    /* Header */

    /* .header
    {
        font-size: 1.2rem;
    } */

    /* .header__socials img
    {
        width: 1.6rem;
    } */
}

/*************************************************************************************************/

@media (width > 950px)
{
    
    /* General */
    
    /* body
    {
        padding-left: 4rem;
        padding-right: 4rem;
    } */

    /* Header */

    /* .header
    {
        max-width: 48rem;
    } */

    /* Index */

    /* .games-mobile
    {
        display: none;
    } */

    /* Game Page */

    /* .game-page-mobile
    {
        display: none;
    } */
}

@media (width > 750px)
{
    .header__nav--mobile
    {
        display: none;
    }
}

@media (750px < width <= 1000px)
{
    .game-page p, a, em, ul
    {
        font-size: 0.9rem;
    }

    .game-page h2
    {
        font-size: 1.5rem;
    }
}

@media (width <= 900px)
{
    .about-page__content
    {
        row-gap: 0.5rem;
    }
}


@media (700px < width <= 900px)
{
    .about-page__portrait-wrapper img
    {
        max-width: 14rem;
    }
}

@media (width <= 700px)
{
    .about-page
    {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 2rem;
    }

    .about-page__content
    {
        max-width: 100%;
    }
}

@media (width <= 400px)
{
    .about-page__portrait-wrapper img
    {
        max-width: 10rem;
    }
}

@media (width <= 750px)
{
    .game-page
    {
        display: none;
    }
}

@media (width > 750px)
{
    .game-page-mobile
    {
        display: none;
    }
}

/*************************************************************************************************/

@media (width <= 750px)
{
    
    .header__nav
    {
        display: none;
    }
    
    .games
    {
        display: flex;
        flex-direction: column;
    }

    .game:nth-child(2)
    {
        padding-top: 2rem;
        border-top: 1px solid var(--color__border);
    }
    
    .game__thumbnail-wrapper img
    {
        max-width: calc(100vw - 2 * var(--margin-side));
    }

    .game-page-alt
    {
        display: none;
    }

    /* General */
    
    /* body
    {
        padding-left: 4rem;
        padding-right: 4rem;
    } */

    /* Header */

    /* .header__role-short
    {
        display: none;
    } */

    /* Index */

    /* .games-mobile
    {
        display: block;
    }

    .game
    {
        flex-direction: column;
    } */

    /* .game__thumbnail
    {
        width: 100%;
        height: 100%;
    } */

    /* .game__btns
    {
        margin-top: 1rem;
    }

    .game__btn--more
    {
        background-color: var(--color__light--accent);
        color: var(--color__dark--accent);
    } */

    /* Game Page */

    /* .game-page-mobile
    {
        margin-left: 4rem;
        margin-right: 4rem;
    } */
}


@media (width > 750px) and (650px < height <= 800px)
{
    .game-page__title-wrapper
    {
        padding-top: 0;
    }

    .game-page__overview
    {
        row-gap: 0.5rem;
    }
}

@media (width > 750px) and (height > 650px)
{
    .game-page-alt
    {
        display: none;
    }
}


@media (width > 750px) and (height <= 650px)
{
    .game-page
    {
        display: none;
    }
}


@media (550px < width <= 1500px)
{
    :root
    {
        --margin-side: 2rem;
    }
}



@media (width <= 550px)
{
    :root
    {
        --margin-side: 1rem;
    }

    .header__left
    {
        column-gap: 2vw;
    }
}

@media (width > 400px)
{
    .header__hero-portrait-wrapper img
    {
        width: 100%;
    }
}

@media (width <= 400px)
{
    .header__hero-portrait-wrapper img
    {
        width: 90%;
    }
}

@media (400px < width <= 550px)
{
    .hamburger-icon
    {
        scale: 90%;
    }
}

@media (350px < width <= 400px)
{
    .header__title
    {
        font-size: 1.4rem;
    }
}

@media (width <= 400px)
{
    .header__title
    {
        font-size: 1.3rem;
    }

    .hamburger-icon
    {
        scale: 80%;
    }

    .nav-sidebar
    {
        font-size: 1.1rem;
    }
}

/*************************************************************************************************/

@media (width <= 900px)
{
    /* Game Page */

    /* .game-page
    {
        display: none;
    }

    .game-page-mobile
    {
        display: flex;
    }

    .game-page__title
    {
        display: flex;
        justify-content: center;
        margin-top: 3.5rem;
        margin-bottom: -0.5rem;
    }

    .game-page__section
    {
        display: block;
    }

    .game-page__overview
    {
        padding: 0;
        margin: 0;
    }

    .game-page__respon
    {
        padding: 0;
        margin: 0;
    }

    .game-page__screenshots
    {
        display: block;
    }


    .game-page__pic-1, .game-page__pic-2
    {
        width: 100%;
        height: 100%;
    }

    #IBW-logo--lower
    {
        width: 80%;
        margin-top: 3rem;
    } */

    /* #IBW-cards, #IBW-rules-1, #IBW-rules-2
    {
        width: 100%;
        height: 100%;
    } */

    /* About Page */

    /* .about-page
    {
        display: none;
    }

    .about-page-mobile
    {
        display: flex;
    } */
}

/*************************************************************************************************/

@media (950px < width <= 1300px)
{
    /* .game__thumbnail
    {
        max-width: 100%;
    } */
}

/*************************************************************************************************/

@media (700px < width <= 950px)
{
    /* Header */
    
    /* .header__socials img
    {
        width: 2rem;
    } */
}

/*************************************************************************************************/

@media (700px < width <= 900px)
{
    /* Game Page */

    /* .game-page-mobile
    {
        margin-top: -6rem;
    } */

    /* About Page */

    /* .about-page-mobile
    {
        margin-top: -6rem;
    } */
}

/*************************************************************************************************/

@media (width > 700px)
{
    /* Header */
    
    /* .header-mobile
    {
        display: none;
    } */
}

/*************************************************************************************************/

@media (width <= 700px)
{
    
    /* General */

    /* body
    {
        padding-left: 2rem;
        padding-right: 2rem;
    } */
    
    /* Header */
    
    /* .header
    {
        display: none;
    }

    .header-mobile
    {
        display: flex;
    } */

    /* Index */

    /* .game__btn
    {
        font-size: var(--font-size-medium);
        width: 8rem;
        height: 3rem
    } */

    /* About Page */

    /* .about-page-mobile
    {
        max-width: 28rem;
    } */
}


/*************************************************************************************************/

@media (width <= 450px)
{
    /* .game
    {
        border-bottom: 0.1rem solid black;
        margin-bottom: 0;
    } */
    
    /* .game__header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game__date
    {
        font-size: var(--font-size-small);
        margin-top: 0.5rem;
    } */
}

/*************************************************************************************************/

@media (width <= 400px)
{
    /* About Page */

    /* .about-page__portrait-wrapper img
    {
        width: 100%;
    } */
}

/*************************************************************************************************/

@media (width <= 300px)
{
    /* Header */
    
    /* .header-mobile, .nav-sidebar__links
    {
        font-size: calc(var(--font-size-small) * 1.1);
    }

    .nav-sidebar__socials img
    {
        width: 2.2rem;
    } */
}