.about-page
{
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;


    /* font-size: 1.3rem;
    font-weight: 300; */
}

.about-page-mobile
{
    display: none;

    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
}

.about-page__section-wrapper
{
    display: flex;
    column-gap: 4rem;
    margin-bottom: 4rem;
}

.about-page__section
{
    line-height: 1.5rem;
    margin-bottom: 4rem;
}

.about-page__section p
{
    margin-bottom: 1rem;
}

.about-page__portrait-wrapper
{
    display: flex;
    justify-content: center;
    align-items: start;
}

.about-page__portrait-wrapper img
{
    width: 20rem;
}

.about-page__section-title
{
    font-size: var(--font-size-big);
    color: var(--color__light--accent);
    font-weight: 400;
    margin-bottom: 2rem;
}

.about-page__section-list
{
    padding-left: 1.2rem;
    list-style-type: square;
}

.about-page__skills
{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}

.about-page__skills-subtitle
{
    font-size: var(--font-size-medium);
    font-weight: 400;
}