/*************************************************************************************************/
/* Games (Desktop) */

.games
{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;

    margin-top: 6rem;
    margin-left: var(--margin-side);
    margin-right: var(--margin-side);
}

.game
{
    display: flex;
    flex-direction: column;

    overflow: auto;
}

.game:nth-child(n+3)
{
    padding-top: 2rem;
    border-top: 1px solid var(--color__border);
}

.game__link-wrapper
{
    display: flex;
    flex-direction: column;
    
    height: 100%;
}

.game__thumbnail
{
    width: 100%;
    aspect-ratio: 16 / 9;
}

.game__info
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    row-gap: 0.5rem;

    height: 100%;

    padding: 1.5rem 1rem 1rem 1rem;
    
    line-height: var(--line-height-paragraph);
    
    transition: all 0.4s ease;
}

.game__info a
{
    transition: all 0.4s ease;
}

.game:hover .game__info
{
    color: var(--color__light--accent);
    background-color: var(--color__dark--accent);
}

.game:hover .game__info a
{
    color: var(--color__light--accent);
}

.game__header
{
    display: flex;
    justify-content: space-between;

    margin-bottom: 1rem;
    padding-bottom: 0.5rem;

    border-bottom: 1px solid var(--color__border);
}

.game__title-wrapper
{
    display: flex;
    column-gap: 2rem;
}

.game__title
{
    font-size: var(--font-size-big);
    font-weight: 800;
    
    margin-bottom: 0;
}

.game__date
{
    font-size: var(--font-size-medium);
    font-weight: 300;
}

.game__summary
{
    margin-bottom: 1rem;
    font-weight: 300;
}

.game__highlights
{
    padding-left: 1.2rem;
    font-weight: 200;
}

.game__btns
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
    margin-right: 1rem;
}

.game__btn
{
    font-size: var(--font-size-medium);
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.game__btn--play
{
    color: var(--color__dark--accent);
    background-color: var(--color__light);
}

.game__btn--more
{
    background-color: var(--color__dark--accent);
    border: 1px solid var(--color__light);
}

.ibw__thumbnail
{
    background-color: var(--color__light--accent);
}


/*************************************************************************************************/
/* Games (Mobile) */

/* .games-mobile
{
    display: none;

    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 28rem;
} */