/*************************************************************************************************/
/* Game Page (Standard) */

.game-page
{
    line-height: 1.5rem;

    transition: translate var(--time-transition) ease-in-out;
}

.game-page__primary
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: calc(100vw - var(--width__game-page-overview-banner));
    right: var(--margin-side);

    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 2rem;

    padding-top: var(--margin-top);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    background-color: var(--color__dark--accent);
    border-left: 1px solid var(--color__border);

    z-index: -1;
}

.game-page__primary em
{
    font-style: italic;
    font-weight: inherit;
}

.game-page__primary b
{
    font-weight: 500;
}

.game-page__overview
{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.game-page__title-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 1rem;
}

.game-page__title-wrapper h2
{
    font-size: var(--font-size-biggest);
    font-weight: 800;
    text-transform: uppercase;

    padding-bottom: 0.5rem;

    border-bottom: 1px solid var(--color__border);
}

.game-page__link
{
    text-decoration: underline;

    transition: all var(--time-transition) ease;
}

.game-page__link:hover
{
    color: var(--color__light--accent);
}

.game-page__play-btn-wrapper
{
    display: flex;
    justify-content: center;

    padding-top: 1rem;
}

.game-page__play-btn
{
    display: flex;
    justify-content: center;
    column-gap: 4px;
    
    padding: 10px 40px 10px 40px;

    font-size: var(--font-size-small);
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(31, 31, 31, 0.9);

    background-color: var(--color__light);
    border-radius: 5px;

    transition: all var(--time-transition) ease;
}

.game-page__play-btn:hover
{
    background-color: var(--color__light--accent);
}

.game-page__play-btn div
{
    scale: 90%;

    padding-top: -1px;
}

.game-page__secondary
{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;

    margin-top: var(--margin-top);
    margin-left: var(--margin-side);
    margin-right: var(--width__game-page-overview-banner);
    padding-right: 2rem;
}

.game-page__responsibilities
{
    display: flex;
    flex-direction: column;
    row-gap: 1.4rem;

    margin-bottom: 2rem;
}

.responsibilities--standard
{
    padding: 2rem;
}

.responsibilities__title-wrapper
{   
    display: flex;
    justify-content: start;

    padding-bottom: 0.5rem;

    border-bottom: 1px solid var(--color__border);
}

.game-page__responsibilities ul
{
    padding-left: 1.2rem;
}

.game-page__responsibilities h2
{
    font-size: var(--font-size-big);
    font-weight: 800;
}

.game-page__responsibilities h3
{
    font-size: 1.2rem;
    font-weight: inherit;
    margin-bottom: -0.7rem;
}

.game-page__video-wrapper
{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
}

.game-page__video-wrapper iframe
{
    aspect-ratio: 16 / 9;
}

.game-page__screenshots
{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.game-page__screenshots img
{
    width: 100%;
    height: 100%;
}

/*************************************************************************************************/
/* Game Page (Alt) */

.game-page-alt
{
    line-height: 1.5rem;

    transition: translate var(--time-transition) ease-in-out;

    margin-top: var(--margin-top);
    margin-left: var(--margin-side);
    margin-right: var(--margin-side);

    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem
}

.game-page-alt iframe
{
    width: 100%;
    aspect-ratio: 16 / 9;
}

.game-page-alt img
{
    width: 100%;
    aspect-ratio: 16 / 9;
}

.game-page-alt__overview
{
    margin-bottom: 2rem;
}

.game-page-alt__overview h2
{
    font-size: var(--font-size-biggest);
    font-weight: 800;
    text-transform: uppercase;
}

.game-page-alt__title-wrapper
{
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    
    border-bottom: 1px solid var(--color__border);
}


/*************************************************************************************************/
/* Game Page (Mobile) */

.game-page-mobile
{
    /* display: none;

    flex-direction: column;
    justify-content: start;
    row-gap: 3rem;
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;

    line-height: 1.5rem; */

    display: flex;
    flex-direction: column;

    margin-top: var(--margin-top);
    margin-left: var(--margin-side);
    margin-right: var(--margin-side);

    line-height: 1.5rem;
}


.game-page-mobile__primary
{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.game-page-mobile__title-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.game-page-mobile__title-wrapper h2
{
    font-size: var(--font-size-biggest);
    font-weight: 800;
    text-transform: uppercase;

    padding-bottom: 0.5rem;

    border-bottom: 1px solid var(--color__border);
}

.game-page-mobile__overview-content-wrapper
{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    
    margin-bottom: 2rem;
}

.game-page-mobile__video-wrapper
{
    display: flex;
    flex-direction: column;
}

.game-page-mobile__video-wrapper iframe
{
    aspect-ratio: 16 / 9;
}

.game-page-mobile__play-btn-wrapper
{
    margin-bottom: 4rem;
}

.game-page-mobile__responsibilities
{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    padding-top: 1rem;
    margin-bottom: 2rem;

    border-top: 1px solid var(--color__border);
    /* border-bottom: 1px solid var(--color__border); */
}

.game-page-mobile__responsibilities h2
{
    margin-bottom: 0.5rem;
    
    font-size: var(--font-size-big);
    font-weight: 800;
}

.game-page-mobile__responsibilities h3
{
    margin-bottom: -0.5rem;
    
    font-size: var(--font-size-medium);
    font-weight: 300;
}

.game-page-mobile__responsibilities ul
{
    padding-left: 1.2rem;
}


/************************************************/
/* Media */


.ibw__titlecard-wrapper
{
    display: flex;
    justify-content: center;

    width: 70%;
}

.ibw__titlecard-wrapper img
{
    padding: 1rem;

    background-color: var(--color__light--accent);
}

.ibw__screenshots
{   
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;

    width: 70%;
}

.ibw__screenshots img
{   
    background-color: var(--color__light--accent);
}

.ibw-alt__pic
{    
    background-color: var(--color__light--accent);
}

.ibw-alt__titlecard
{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ibw-mobile__titlecard
{
    width: 100%;
    aspect-ratio: 16 / 9;
    
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    background-color: var(--color__light--accent);
}

.ibw-mobile__screenshots
{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.ibw-mobile__screenshots img
{
    background-color: var(--color__light--accent);
}




/* .game-page__pic-wrapper
{
    display: flex;
    justify-content: start;
} */

.game-page__pic-1
{
    width: 24rem;
}

.game-page__pic-2
{
    width: 30rem;
}



/* OLD */

.game-page-content-container
{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.game-page-screenshots
{
    display: flex;
    justify-content: space-between;
}


/*************************************************************************************************/
/* Horror Game */

/* .game-page__respon--adjusted
{
    margin-top: -14rem;
    margin-bottom: 10rem;
} */

/*************************************************************************************************/
/* Sally Says Die! */

.sally-says-die-pic
{
    width: 100%;
}

/*************************************************************************************************/
/* Intergalactic Burger War */

#IBW-cards
{
    width: 30rem;
}

#IBW-rules-1, #IBW-rules-2
{
    width: 100%;
    height: 100%;
}