/*************************************************************************************************/
/* Games (Desktop) */

.games
{
    display: grid;
    grid-template-columns: auto auto;

    justify-content: space-between;
    
    margin-top: 6rem;
    /* padding-left: 4rem;
    padding-right: 4rem; */

    /* column-gap: 2rem; */


    /* background-color: var(--color-1); */

    /* margin-left: auto;
    margin-right: auto; */
}

.game
{
    display: flex;
    flex-direction: column;

    overflow: auto;
    
    /* max-width: 100%; */
    /* margin-left: auto;
    margin-right: auto; */

    /* background-color: #2b2b2b; */
    
    /* background-color: var(--color-1); */

    /* padding: 2rem; */
    /* border: 1px solid rgba(100, 100, 100, 0.1); */
    /* border-radius: 10px; */

    /* box-shadow: -1px 1px 10px 10px rgba(0, 0, 0, 0.2); */

    /* max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    column-gap: 4rem;
    margin-bottom: 10rem; */
}

.game:nth-child(2n)
{
    margin-right: -1rem;
}

.game:nth-child(2n+1)
{
    margin-left: -1rem;
}

.game:nth-child(n + 3)
{
    padding-top: 2rem;
    border-top: 1px solid rgba(200, 200, 200, 0.3);
}

.game__thumbnail-wrapper
{
    display: flex;
    justify-content: center;
}

.game__thumbnail
{
    min-width: 580px;
    object-fit: contain;
}

.game__info
{
    padding: 1rem;
    line-height: var(--line-height-paragraph);
}

.game__header
{
    display: flex;

    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid;
    border-color: var(--color-border);
}

.game__title
{
    font-size: var(--font-size-big);
    font-weight: 800;
    /* color: var(--color-4); */
    margin-bottom: 0;
    text-transform: uppercase;
}

.game__date
{
    font-size: var(--font-size-medium);
}

.game__summary
{
    margin-bottom: 1rem;
    font-weight: 600;
}

.game__summary a
{
    color: var(--color-4);
    font-weight: 300;
    text-decoration: underline;
}

.game__highlights
{
    padding-left: 1.2rem;
    font-weight: 200;
}

.game__btns
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4rem;
}

.game__btn
{
    font-size: var(--font-size-small);
    width: 5rem;
    height: 2rem;
    font-weight: 500;
    margin-top: 40px;
    box-shadow: none;
    border-radius: 2rem;
    border: var(--color-2) solid 1px;
    text-transform: uppercase;
}

.game__btn--play
{
    background-color: var(--color-4);
    color: var(--color-1);
}

.game__btn--more
{
    background-color: var(--color-1);
}


/*************************************************************************************************/
/* Games (Mobile) */

.games-mobile
{
    display: none;

    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 28rem;
}