/*************************************************************************************************/
/* Desktop */

.header
{
    
    position: fixed;
    top: 0;
    left: var(--side-margin);
    right: var(--side-margin);

    display: flex;
    

    justify-content: space-between;
    

    padding-top: 1.5rem;
    padding-bottom: 1rem;

    /* padding-left: 10rem;
    padding-right: 10rem; */
    
    background-color: #181818;

    border-bottom: 1px solid rgba(200, 200, 200, 0.3);

    text-transform: uppercase;


    /* font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size-header);
    font-weight: 100;
    text-transform: uppercase;
    user-select: none; */
}

.header__left
{
    display: flex;
    white-space: nowrap;
    
    column-gap: 20px;

    justify-content: center;
}

.header__right
{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    justify-content: center;

    /* justify-content: end;
    padding-bottom: -20px; */
}


/* .header__right
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px;
    border-color: var(--color-border);
    width: 100%;
} */

.header__hero-portrait-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__hero-portrait-wrapper img
{
    min-width: 100%;
    min-height: 100%;
}

.header__name-wrapper
{
    display: flex;
    /* flex-direction: column;
    align-items: start; */

    justify-content: center;
    
    align-items: end;
}

.header__name
{
    margin-top: -9px;
    color: var(--color-4);
    font-weight: 600;
    font-size: 2.4rem;
}

.header__role
{
    margin-top: 7px;
}

.header__title
{
    font-size: 1.7rem;
    font-weight: 800;
}


/* .header__left
{
    display: flex;
    justify-content: space-between;

    width: 100%;
} */


.header__nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}


.header__contact-btn
{
    
    background-color: #181818;

    font-family: inherit;
    font-size: inherit;
    text-transform: uppercase;

    color: var(--color-1);

    background-color: var(--color-2);

    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
}


/* .header__games, .header__resume, .header__about
{
    padding-bottom: 0.5rem;
    border-bottom: 2px solid;
}

.header__games
{
    color: #D64550;
    border-bottom-color: #D64550;
}

.header__resume
{
    color: #50B4F2;
    border-bottom-color: #50B4F2;
}

.header__about
{
    color: #09BC8A;
    border-bottom-color: #09BC8A;
} */

.header__nav-link
{
    position: relative;
    transition: all 0.4s;
}

.header__nav-link:hover
{
    color: var(--color-4);
}

.header__nav-link:after
{
    content: '';

    position: absolute;
    width: 100%;
    left: 0;
    bottom: -8px;
    padding-bottom: 0.1rem;

    background: var(--color-4);
    opacity: 0;

    transition: all 0.3s;
    pointer-events: none;
}

.header__nav-link:hover::after
{
    opacity: 1;
}





.header__project-link
{
    position: relative;
    transition: all 0.4s;
}

.header__project-link:hover
{
    color: var(--color-4);
}

.header__project-link:after
{
    content: '';

    position: absolute;
    height: 100%;
    width: 2px;
    left: -10px;
    padding-bottom: 0.1rem;

    background: var(--color-4);
    opacity: 0;

    transition: all 0.4s;
    pointer-events: none;
}

.header__project-link:hover::after
{
    opacity: 1;
}







.header__nav-projects-wrapper
{
    display: inline-block;

    /* position: relative; */
    cursor: pointer;
}


.dropdown
{
    display: none;

    position: absolute;
    list-style: none;
    white-space: nowrap;

    margin-bottom: 10px;
    margin-left: 22px;
    
    z-index: 1;
}

.dropdown li
{
    margin-top: 20px;
}

.dropdown__box
{
    display: none;

    position: absolute;
    width: 308px;
    height: 172px;
    background-color: #181818;
    border: 1px solid rgba(200, 200, 200, 0.3);

    margin-top: 11px;
}

.header__nav-projects-wrapper:hover .dropdown
{
    display: block;
}

.header__nav-projects-wrapper:hover .dropdown__box
{
    display: block;
}


/* .header__nav-link, .header__games
{
    text-wrap: nowrap;
    transition: all 300ms;
}

.header__nav-link:hover, .header__games:hover
{
    color: rgb(148, 148, 148);
}

.header__nav-link--current
{
    color: rgb(78, 78, 78);
    font-weight: bold;
    text-decoration: underline 1px var(--color-2);
    text-underline-offset: 0.5rem;
} */

.header__games
{
    position: relative;
    cursor: pointer;
}

.header__games-dropdown
{
    position: absolute;
    display: none;
    top: 2rem;
}

.header__games-dropdown--open
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.header__socials
{
    display: flex;
    justify-content: end;
    column-gap: 0.7rem;
}

.header__socials img
{
    width: 1.7rem;
}


/*************************************************************************************************/
/* Mobile */

.header-mobile
{
    display: none;
    
    position: fixed;
    justify-content: space-between;
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(var(--font-size-header) * 1.1);
    font-weight: 100;
    text-transform: uppercase;
    user-select: none;
}

.header__role--overline
{
    border-top: solid 1px;
    border-color: var(--color-border);
}

.nav-sidebar
{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 20%;
    padding-bottom: 1rem;
    row-gap: 20%;
    background-color: white;
    z-index: -1;

    translate: 100%;
    transition: translate 400ms ease-in-out;
}

.hamburger-nav:has(input:checked) + .nav-sidebar
{
    translate: 0;
}

.hamburger-nav input
{
    appearance: none;
}

.hamburger-icon
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    margin-top: -0.5rem;
}

.hamburger-icon span
{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.nav-sidebar__links
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    row-gap: 1rem;
    margin-bottom: 1rem;

    font-family: 'Courier New', Courier, monospace;
    font-size: calc(var(--font-size-header) * 1.1);
    font-weight: 100;
    text-transform: uppercase;
    user-select: none;
}

.nav-sidebar__games
{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-bottom: 2rem;
    row-gap: 1rem;
    border-bottom: solid 1px;
    border-color: var(--color-border);
}

.nav-sidebar__socials
{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
}

.nav-sidebar__socials img
{
    width: 2.5rem;
}