/*************************************************************************************************/
/*General*/

:root
{
    --color-light: #B8C5C9;
    --color-light-accent: #FAFAFF;
    --color-dark: #181818;
    --color-dark-accent: #1f1f1f;
    --color-border: rgba(200, 200, 200, 0.3);

    --margin-side: 8rem;

    --time-transition: 0.4s;


    --width-game-page-overview-banner: 42vw;


    --color-3: gray;

    /* --color-light-accent: #D90467; */
    /* --color-light-accent: #D64550; */
    /* --color-light-accent: #FF4545; */
    /* --color-light-accent: #45568DFF; */
    /* --color-border: rgba(100, 100, 100, 0.534); */

    --font-size-biggest: 1.75rem;
    --font-size-big: 1.5rem;
    --font-size-medium: 1.2rem;
    --font-size-small: 1rem;
    --font-size-header: 1.15rem;

    --line-height-paragraph: 1.5rem;

    --side-margin-main: 16rem;
    --side-margin-header: 20rem;

    --background-color-primary-alphazero: #22232300;
    --accent-color-secondary: #222323FF;

    /* font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; */

    font-family: "Barlow", sans-serif;


    font-size: 1rem;
}

/* @supports (font-variation-settings: normal) 
{
    :root { font-family: InterVariable, sans-serif; }
} */

*
{
    margin: 0;
    padding: 0;

    text-decoration: none;
}

body
{
    color: var(--color-light);
    background-color: var(--color-dark);
    font-weight: 200;
}

a
{
    color: var(--color-light);
}

button
{
    font-family: inherit;
    font-size: inherit;
}

@keyframes test
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

footer p
{
    text-align: center;
    letter-spacing: 1px;
    margin-top: 8rem;
    margin-bottom: 6rem;
}

button
{
    cursor: pointer;
    border: none;
}


/*************************************************************************************************/
/* Page Transition */

.transition-1
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: var(--color-dark-accent);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
}

.transition-1.is-active
{
    opacity: 1;
    pointer-events: all;
}